awscli
botocore
chardet
colorama
dnspython
docutils
Flask
html5lib
itsdangerous
Jinja2
jmespath
lxml
MarkupSafe
ndg-httpsclient
pbr
pyasn1
pycrypto
pyOpenSSL
python-dateutil
redis
requests
rsa
six
stevedore
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper
Werkzeug
wheel
